{% extends 'base_dashboard.html' %}
{% load static %}

{% block content_header %}
<h1>
	Dashboard
</h1>
<ol class="breadcrumb">
	<li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
</ol>
{% endblock %}

{% block page_content %}

<div class="row">
	<!-- Overview Boxes -->
	<div class="col-md-3 col-sm-6 col-xs-12">
		<div class="info-box">
			<span class="info-box-icon bg-green">
				<i class="fa fa-money"></i>
			</span>
			<div class="info-box-content">
				<span class="info-box-text">Net Total</span>
				<span class="info-box-number">$100.00</span>
			</div>
		</div>
	</div>

	<div class="col-md-3 col-sm-6 col-xs-12">
		<div class="info-box">
			<span class="info-box-icon bg-yellow">
				<i class="fa fa-database"></i>
			</span>
			<div class="info-box-content">
				<span class="info-box-text">Net Cash</span>
				<span class="info-box-number">$100.00</span>
			</div>
		</div>
	</div>

	<div class="col-md-3 col-sm-6 col-xs-12">
		<div class="info-box">
			<span class="info-box-icon bg-blue">
				<i class="fa fa-area-chart"></i>
			</span>
			<div class="info-box-content">
				<span class="info-box-text">Net Investments</span>
				<span class="info-box-number">$70.00</span>
			</div>
		</div>
	</div>

	<div class="col-md-3 col-sm-6 col-xs-12">
		<div class="info-box">
			<span class="info-box-icon bg-red">
				<i class="fa fa-bank"></i>
			</span>
			<div class="info-box-content">
				<span class="info-box-text">Total Debt</span>
				<span class="info-box-number">$100.00</span>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<!-- My Accounts -->
	<div class="col-md-6 col-sm-12 col-xs-12">
		<div class="box box-solid box-primary">
			<div class="box-header">
				<h3 class="box-title">My Accounts</h3>
			</div>
			<div class="box-body ">
				<table id="table_myaccounts" class="table table-hover">
					<thead>
						<tr>
							<th>Name</th>
							<th>Type</th>
							<th>Amount</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>TD Checking</td>
							<td>Cash</td>
							<td>$200</td>
						</tr>
						<tr>
							<td>TD Everyday Savings</td>
							<td>Cash</td>
							<td>$500</td>
						</tr>
						<tr>
							<td>Wealthsimple Trade</td>
							<td>Investment</td>
							<td>$400</td>
						</tr>
						<tr>
							<td>NSLSC Loan</td>
							<td>Debt</td>
							<td>-$1000</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
	<!-- Upcoming Transfers -->
	<div class="col-md-6 col-sm-12 col-xs-12">
		<div class="box box-solid box-warning">
			<div class="box-header">
				<h3 class="box-title">Upcoming Transfers</h3>
			</div>
			<div class="box-body ">
				<table id="table_upcomingtransfers" class="table table-hover">
					<thead>
						<tr>
							<th>From</th>
							<th>To</th>
							<th>Amount</th>
							<th>Date</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>TD Chequing</td>
							<td>WealthSimple Trade</td>
							<td>$50</td>
							<td>May 10, 2020</td>
						</tr>
						<tr>
							<td>Salary - Amazon</td>
							<td>TD Chequing</td>
							<td>$2000</td>
							<td>May 15, 2020</td>
						</tr>
						<tr>
							<td>TD Chequing</td>
							<td>Landlord for Rent</td>
							<td>$500</td>
							<td>June 1, 2020</td>
						</tr>
						<tr>
							<td>TD Credit</td>
							<td>Spotify</td>
							<td>$4.90</td>
							<td>June 4, 2020</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<!-- Projections --> 
<div class="row">
	<div class="col-md-12">
		<div class="box box-solid box-success">
			<div class="box-header">
				<h3 class="box-title">Future Projections</h3>
			</div>
			<div class="box-body">
				<canvas id="projectionsCanvas"></canvas>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block js_extras %}
<script type="text/javascript">
	$(document).ready(function() {
	    $('#table_myaccounts').DataTable({
	    	'paging': false,
	    	'searching': false,
	    	'info': false
	    });
	} );

	$(document).ready(function() {
	    $('#table_upcomingtransfers').DataTable({
	    	'paging': false,
	    	'searching': false,
	    	'info': false
	    });
	} );
</script>
<script src="{% static 'chart.js/dist/Chart.bundle.min.js' %}"></script>
<script type="text/javascript">
	var transferData = [
		12, 0, 0, 5, 2, 3,
		0, -5, 0, 4, 2, -3,
		11, 8, 3, -9, -7, 0,
		14, 0, 0, -4, 3, 1,
	]
	const colours = transferData.map((value) => value < 0 ? '#dd4b39' : '#00a65a');
	var ctx = document.getElementById('projectionsCanvas');
	var myChart = new Chart(ctx, {
	    type: 'bar',
	    data: {
	        labels: [
	        	'20/05/03', '20/05/04', '20/05/05', '20/05/06', '20/05/07', '20/05/08',
	        	'20/05/09', '20/05/10', '20/05/11', '20/05/12', '20/05/13', '20/05/14',
	        	'20/05/15', '20/05/16', '20/05/17', '20/05/18', '20/05/19', '20/05/20',
	        	'20/05/21', '20/05/22', '20/05/23', '20/05/24', '20/05/25', '20/05/26'
	        ],
	        datasets: [{
	            label: 'Transfers',
	            data: transferData,
	            borderWidth: 1,
	            backgroundColor: colours,
	        }, {
	        	label: 'Net Total',
	        	data: [
	            	12, 12, 12, 17, 19, 22,
	            	22, 17, 17, 21, 23, 20,
	            	31, 39, 42, 33, 26, 26,
	            	40, 40, 40, 36, 39, 40,	
	        	],
	        	type: 'line',
	        	backgroundColor: "#3c8dbc",
	        }]
	    },
	    options: {
	        scales: {
	            yAxes: [{
	                ticks: {
	                    beginAtZero: true
	                },
	                scaleLabel: {
	                	display: true,
	                	labelString: 'Amount ($)',
	            	}
	            }],
	            xAxes: [{
	            	scaleLabel: {
	            	display: true,
	            	labelString: 'Date',
	            	}
	            }
	            ]
	        },
	        legend: {
	        	display: true,

	        }
	    }
	});
</script>
{% endblock %}